*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Overpass", sans-serif;
}

body{
    background-color: #450a0a;
    color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
    background-color: #dc2626;
    max-width: 412px;
    padding: 32px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1, p {
    color: rgb();
}

.subtitulo {
   margin-bottom: 40px;
}

.bt{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 32px;
    
}
.bt > a{
    display: flex;
    width: 323%;
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0c0a09;
    border:none;
    transition: all ease-in-out;
    text-decoration: none;
    background-color: #f87171;
    border-radius: 20px;
    transition: all ease-in-out 0.35s;
    align-items: center;
    justify-content: center;
}